body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(248, 248, 222);
}

h1 h2,
h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  color: rgb(59, 53, 53);
}
h1 {
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form {
  max-width: 16rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

/* button {
  margin-left: 1em;
  margin-bottom: 0.4em;
} */

button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  background: white;
  color: black;
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
  line-height: 1.1;
  white-space: nowrap;
  text-decoration: none;
  padding-bottom: 0.3em;
  margin-top: 0.5em;
  margin-left: 0.4em;
  cursor: pointer;
}

button:hover {
  background: rgb(252, 252, 252);
}

/* button.login {
  margin: 0;
}
button.cancel {
  margin: 0;
} */

input {
  margin-left: 0.5em;
}

.error {
  color: rgb(255, 0, 0);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.smtext {
  font-size: 0.75rem;
}

.logout {
  position: relative;
  bottom: 0.15em;
  margin-left: 0.6em;
  cursor: pointer;
  font-size: 0.65rem;
  font-family: system-ui, sans-serif;
  padding-top: 0;
  line-height: 1;
  color: white;
  background: rgb(107, 107, 107);
}

.logout:hover {
  background: rgb(139, 139, 139);
}
